# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
